{
	local_certs
}

weldall.seibert.localdev {
	reverse_proxy weldall:3000 {
		header_up X-Forwarded-For {remote_host}
		header_up X-Weldall-Proxy-Attestation {$WELDALL_TRUSTED_PROXY_SECRET}
	}
}

expenses.seibert.localdev {
	reverse_proxy expenses:3001
}

reports.seibert.localdev {
	reverse_proxy reports:3001
}

catcher.seibert.localdev {
	reverse_proxy catcher:3003
}

redirect.seibert.localdev {
	redir https://catcher.seibert.localdev/captured 302
}

dev-idp.seibert.localdev {
	reverse_proxy dev-idp:3002
}
